.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
}
.signup1 {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1024px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .signup1 {
    display: none;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
}
.form {
  flex-direction: column;
  width: 408px;
  height: auto;
  display: flex;
  position: absolute;
  top: 225px;
  left: 155px;
}
.form > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.form > :global(.__wab_flex-container) > *,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.form > :global(.__wab_flex-container) > picture > img,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.signUp {
  display: block;
  font-size: 34px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.29999;
  color: rgba(15, 16, 18, 1);
  position: relative;
}
.inputsContainer {
  flex-direction: column;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  min-width: 0;
}
.inputsContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.inputsContainer > :global(.__wab_flex-container) > *,
.inputsContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputsContainer > :global(.__wab_flex-container) > picture > img,
.inputsContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.textInput__jkkKl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__gxPuc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
  min-width: 0;
}
.textInput__cmoqh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___2DDq1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
  min-width: 0;
}
.textInput___4Ob2H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yLskx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
  min-width: 0;
}
.enterCode {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
}
.signUpButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.text___993BE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  min-width: 0;
}
.signInContainer {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
}
.signInContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.signInContainer > :global(.__wab_flex-container) > *,
.signInContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.signInContainer > :global(.__wab_flex-container) > picture > img,
.signInContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text7 {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.3999899999999998;
  color: rgba(15, 16, 18, 1);
  position: relative;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__nVkEq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.rectangle121 {
  background: rgba(234, 250, 237, 1);
  width: 720px;
  height: 1024px;
  display: block;
  position: absolute;
  top: 0px;
  left: 720px;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #51cf66;
  width: 237px;
  height: 237px;
  display: block;
  top: 393px;
  left: 962px;
}
.rectangle122 {
  backdrop-filter: blur(70px);
  background: rgba(255, 255, 255, 0.009);
  width: 720px;
  height: 512px;
  display: block;
  position: absolute;
  top: 512px;
  left: 720px;
  -webkit-backdrop-filter: blur(70px);
}
